<h1>Categories</h1>

<div class="well">
<%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>